
.NavLinks {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.NavLinks li {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 900;
  margin: 0 7px;
  cursor: pointer;
  transition: transform 0.15s ease-in;
  transition: color 0.25s ease-in;
}
.NavLinks li:hover {
  transform: scale(1.05);
  color: var(--color-green-light);
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 770px) {
  .NavLinks {
    display: none;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 980px) {

  .NavLinks li {
    font-size: 14px;
  }
}
