.Navigation {
    /* flex: 1; */
}

.NavLinks {
    display: flex;
    justify-content: space-between;
}
.NavLinks li {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 900;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.NavLinks li:hover {
    color: var(--color-green);
    transform: scale(1.05);
}
