
.card{
  width: 300px;
  border: 5px solid var(--color-green-light-2);
  border-radius: 12px;
  transition: all.1s ease-in;
}
.card:hover{
  border: 5px solid var(--color-teal-light);
}

.cardTitle{
  font-weight: bold;
  color:var(--color-teal);
  transition: all .1s ease-in;
}

.cardTitle:hover{
  color:var(--color-teal-light);
}

.cardGrid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 0 auto;
}
