.resNavigation {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 767px) {
  .resNavigation {
    width: 100%;
    height: 83%;
    height: 100vh;
    position: absolute;
    top: 7vh;
    left: 0px;
    padding: 5.5rem;
    background-color: var(--color-grey-dark);
    cursor: pointer;
    transition: transform 0.15s ease-in;
    transition: color 0.25s ease-in;
  }

  .resNavigation li:hover {
    transform: scale(1.05);
    color: var(--color-green-light);
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .resNavigation {
    display: none;
  }
}
