.Footer {
  background-color: var(--color-grey-dark);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.FooterText {
  color: var(--color-white);
  font-weight: 700;
}
