@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;700;900&display=swap");

:root {
  --color-green-light: #a6cf98;
  --color-green-light-2: #f7f7f7;
  --color-teal: #3e8e7e;
  --color-teal-light: #7cd1b8;
  --color-white: #fff;
  --color-grey-dark: #333;
  --color-grey-medium: #666;
  --color-grey-medium-2: #555;
  --color-grey-light: #999;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-grey-light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:var( --color-grey-medium);
  outline: 1px solid var( --color-grey-medium);
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: var( --color-grey-medium-2);
}

