.container {
  background-color: var(--color-white);
  width: 100%;
}

.sectionCards {
  width: 100%;
}

.sectionCards:nth-child(even) {
  background: var(--color-green-light-2);
}

.cardGridSectionContainer {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 150px 25px;
}

.sectionHeading {
  color: var(--color-teal);
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  margin: 50px 0;
}

.AddNew {
  width: 100%;
  padding: 30px;
}
