.tagContainer {
    width: 100%;
    max-width: 1400px;
    min-height: calc(100vh - 180px);
    margin: 0 auto;
    padding: 20px 0;
}

.tagHeading {
    color: var(--color-teal-light);
    color: var(--color-teal);
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    margin: 50px 0;
}
